<div class="detailPage">
    <div class="ownedZombieDetail">
        <div class="zombieImg">
            <img src="{{zombieNow.origin.image}}">
        </div>
        <div class="gadgetsEquipped">
            <div id="headwear" class="inventory">
                <p>Headwear</p>
                {{#if zombieNow.gadgets}}                 
                {{#each zombieNow.gadgets}}
                {{#ifvalue origin.category value="Headwear"}}
                <img src={{origin.icon}}>
                {{/ifvalue}}
                {{/each}}
                {{/if}}
            </div>
            <div id="weapon" class="inventory">
                <p>Weapon</p>
                {{#if zombieNow.gadgets}}
                {{#each zombieNow.gadgets}}
                {{#ifvalue origin.category value="Weapon"}}
                <img src={{origin.icon}}>
                {{/ifvalue}}
                {{/each}}         
                {{/if}}       
            </div>
            <div id="clothing" class="inventory">
                <p>Clothing</p>   
                {{#if zombieNow.gadgets}}                 
                {{#each zombieNow.gadgets}}
                {{#ifvalue origin.category value="Clothing"}}
                <img src={{origin.icon}}>
                {{/ifvalue}}
                {{/each}}    
                {{/if}}            
            </div>
        </div>
    </div>
    <div class="detailsZomb">
        <h4>{{zombieNow.nickname}}</h4>
        <p>Type: {{zombieNow.origin.type}}</p>

        <p>Description:</p>
        <ul>
        {{#each zombieNow.origin.description}}
            <li>{{this}}</li>
        {{/each}}
        </ul>

        <p>Ability:</p>   
        <ul>
        {{#each zombieNow.origin.abilities}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    </div>
    {{!-- <form action="/ownedZombieDetail" method="POSR"> --}}

    {{!-- <button id="equipBtn" class="butn" type="submit">Equip</button> --}}
    {{!-- </form> --}}
</div>

<script>
    window.onload = function () {
        var url_string = window.location.href
        var url = new URL(url_string);
        var c = url.searchParams.get("zombie_id");
        var gadgetChosenId=
        console.log(c);
        console.log("loaded")
        document.getElementById("headwear").addEventListener("click", function (event) {
            let selectHead = document.createElement("div");
            selectHead.classList.add("headwear");
            selectHead.innerHTML = 
            `<div class="selectGadget">
                {{~#each headwear~}}
                    <div class="eachGadget">
                        <a href="/equip?gadget_id={{~_id~}}&zombie_id=${c}"></a>
                        <p>{{~origin.name~}}</p>
                        <img src="{{~origin.icon~}}">
                    </div>
                {{~/each~}}
                <a href="/ownedZombieDetail?zombie_id=${c}"><button type="submit" class="butn">Back</button></a>
            </div >`;
            document.getElementsByTagName("body")[0].appendChild(selectHead);
        })

        document.getElementById("weapon").addEventListener("click", function (event) {
            let selectWeapon = document.createElement("div")
            selectWeapon.classList.add("headwear")
            selectWeapon.innerHTML = 
            `<div class="selectGadget">
                {{~#each weapon~}}
                    <div class="eachGadget">
                        <a href="/equip?gadget_id={{~_id~}}&zombie_id=${c}"></a>
                        <p>{{~origin.name~}}</p>
                        <img src="{{~origin.icon~}}">
                    </div>
                {{~/each~}}
                <a href="/ownedZombieDetail?zombie_id=${c}"><button type="submit" class="butn">Back</button></a>
            </div >`;
            document.getElementsByTagName("body")[0].appendChild(selectWeapon);
        })     

        document.getElementById("clothing").addEventListener("click", function (event) {
            let selectClothing = document.createElement("div")
            selectClothing.classList.add("headwear")
            selectClothing.innerHTML = 
            `<div class="selectGadget">
                {{~#each clothing~}}
                    <div class="eachGadget">
                        <a href="/equip?gadget_id={{~_id~}}&zombie_id=${c}"></a>
                        <p>{{~origin.name~}}</p>
                        <img src="{{~origin.icon~}}">
                    </div>
                {{~/each~}}
                <a href="/ownedZombieDetail?zombie_id=${c}"><button type="submit" class="butn">Back</button></a>
            </div >`;
            document.getElementsByTagName("body")[0].appendChild(selectClothing);
        })          
    }
</script>