<div class="{{#if user.zombiesOwned}}catalog{{else}}nothingToShow{{/if}}">
{{#each user.zombiesOwned}}
        <div class="shopZombie">
        <a href="/ownedZombieDetail?zombie_id={{_id}}"></a>
        <div class="imageWrap">
            <img src="{{origin.image}}">
        </div>
        <h3>{{nickname}}</h3>
        <p>{{origin.type}}</p>
    </div>
{{else}}
<p>Nothing to show :(</p>
<p>You can <a href="/shop/zombies">buy zombies in the shop</a></p>
{{/each}}
</div>