<div class="eachStory">
  <div class="storyHeader">
    <h3>{{story.title}}</h3>
    <small>by <strong>{{story.author.username}}</strong></small>
  </div>
  <p>{{story.text}}</p>
  <form action="/story/{{story._id}}/like" method="POST">
    <input type="submit" value="{{#ifIn user.id story.likes }}Liked{{else}}Like{{/ifIn}}"
      {{#ifIn user.id story.likes }}disabled{{/ifIn}}>
  </form>
</div>