<div class="eachStory">
  <div class="storyHeader">
    <h3>{{story.title}}</h3>
    <small>by <strong>{{story.author.username}}</strong>, {{story.niceTime}}</small>
  </div>
  {{#if story.short}}
    {{#each story.short}}
      <p>{{this}}</p>
    {{/each}}
  {{else}}
    {{#each story.text}}
      <p>{{this}}</p>
    {{/each}}
  {{/if}}
  <div class="buttons">
    <button class="likeButton"{{#ifIn user.id story.likes }} disabled{{/ifIn}} onclick="likeStory(event, '{{story._id}}', '{{user.id}}');"><span><i class="far fa-thumbs-up"></i></span></button>
    {{#unless details}}<button class="moreButton"><a href="/story/{{story._id}}"></a>Show more</button>{{/unless}}
  </div>
</div>