<div class="eachStory">
    <h3>{{story.author.username}}</h3>
    <h5>{{story.title}}</h5>
    <p>{{story.text}}</p>
    <form action="/story/{{story._id}}/like" method="POST">
        <input type="submit" value="{{#ifIn user.id story.likes }}Liked{{else}}Like{{/ifIn}}" {{#ifIn user.id story.likes }}disabled{{/ifIn}}>
    </form>
</div>