<div class="topDiv">
    <a href="/shop/zombies"><i class="fas fa-arrow-left fa-3x"></i></a>

    {{#if buy}}
    <div>
        <p class="bought">Zombie has been added to your collection <a href="/user?tab=zombies">VIEW</a></p>
    </div>
    {{/if}}

    {{#if notEnoughBrain}}
    <div>
        <p class="notEnoughBrain">You have not enough BRAINS!</p>
    </div>
    {{/if}}

</div>

<div class="zombieDetail">
    <div class="zombImage">
        <img src="{{zombie.image}}">
    </div>

    <div class="details">
        <div class="buy">
            <h3>{{zombie.type}}</h3>
            <p><span>{{zombie.price}}</span> <i class="fas fa-brain fa-3x"></i></p>
        </div>
        <div>
        <button class="butn" id="buyButton">Buy</button>
        </div>
        <div class="description">
            <div>
                <h5>Description: </h5>
                <ul>
                    {{#each zombie.description}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div>
                <h5>Ability: </h5>
                <ul>
                    {{#each zombie.abilities}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
<audio id="myAudio">
  <source src="/163440__under7dude__zombie-1.wav" type="audio/wav">
</audio>

<script>
    window.onload = function () {
        document.getElementById("buyButton").addEventListener("click", function (event) {
            let popup = document.createElement("div")
            popup.classList.add("buyVerification")
            popup.innerHTML = `<div class="dialogue">
                <form action="/shop/zombieDetail?zombie_id={{~zombie._id~}}" method="POST" class="popupForm" >
                    <div>
                        <label for="nickname">Nickname: </label>
                        <input id="nickname" type="text" name="nickname" placeholder="Nickname" required autofocus>
                    </div>
                    <div class="buttons">
                        <button class="butn" type="submit">BUY</button>
                        <button class="butn" id="cancelBtn">Cancel</button>
                    </div>
                </form>
            </div >`;

            document.getElementsByTagName("body")[0].appendChild(popup);
            document.getElementById("cancelBtn").addEventListener("click", function(event) {
                let popup = document.getElementsByClassName("buyVerification")[0];
                popup.parentNode.removeChild(popup)
            })
            document.getElementById("myAudio").play();
        })
    }
</script>