<form class="search-form" action="/shop/gadgets" method="GET">
    <input name="search" type="text" placeholder="Search for gadgets..." {{#if search}} value="{{search}}" {{/if}}>
    <input type="submit" value="Search">
</form>
{{#if buy}}
<div>
    <p class="bought">Gadget has been added to your collection <a href="/user?tab=gadgets">VIEW</a></p>
</div>
{{/if}}
{{#if notEnoughBrain}}
<div>
    <p class="notEnoughBrain">You need more BRAINS!</p>
</div>
{{/if}}
<div class="catalog gadgetsCatalog">
{{#each gadgets}}
<div class="shopGadget">
<img src="{{icon}}">
<h5>{{name}}</h5>
<p>{{price}} <i class="fas fa-brain fa-2x"></i></p>
<form action="/shop/gadgets?gadget_id={{_id}}" method="POST">
    <button class="butn" type="submit">BUY</button>
</form>
</div>
{{/each}}
</div>