<form class="search-form" action="/shop/zombies" method="GET">
    <input name="search" type="text" placeholder="Search for zombies..." {{#if search}} value="{{search}}" {{/if}}>
    <input type="submit" value="Search">
</form>

<div class="catalog">
    {{#each zombies}}
    <div class="shopZombie">
        <a href="/shop/zombieDetail?zombie_id={{_id}}"></a>
        <h4>{{type}}</h4>
        <div class="imageWrap">
            <img src="{{image}}">
        </div>
        <div>
            <p><span>{{price}}</span> <i class="fas fa-brain"></i></p>
        </div>
    </div>
    {{/each}}
</div>